<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Hasil Deteksi</title>
</head>

<body>
    <h1>Website Deteksi Kesalahan Kata Luluh</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Hasil Deteksi :</h5>
            <p>
                {% if berita is not none %}
                {% for kata in berita.split() %}
                {% set kata_no_punctuation = kata.strip(".,?!") %}
                {% if kata_no_punctuation.lower() in list_kata_salah %}
                {{ kata|replace(kata_no_punctuation, '<span class="kata-salah"><b>' + kata_no_punctuation +
                        '</b></span>')|safe
                }}
                {% else %}
                {{ kata }}
                {% endif %}
                {% endfor %}
                {% endif %}
            </p>

            <!-- <hr>

            <h5>Jumlah Kata Luluh Yang Sudah Benar = {{ hasil_kata_benar|length }}</h5>

            {% if hasil_kata_benar is not none %}
            {% for hasil in hasil_kata_benar %}
            <p>{{ loop.index }}. Kata <b class="kata-benar">{{ hasil }}</b> sudah sesuai dengan ejaan kamus besar bahasa
                Indonesia</p>
            {% endfor %}
            {% endif %} -->

            <hr>

            <h5>Jumlah Kesalahan Ejaan Kata Luluh = {{ list_kata_salah|length }}</h5>

            {% if hasil_kata_salah[0] is not none and hasil_kata_salah != -1 %}
            {% for item in hasil_kata_salah[0] %}
            <!-- <p>{{ loop.index + hasil_kata_benar|length }}. Ejaan kata <b class="kata-salah">{{ item[0] }}</b> salah.
                Solusi untuk ejaan kata <b class="kata-salah">{{ item[0] }}</b> adalah kata <b class="kata-benar">{{
                    item[1] }}</b> dengan persentase
                kemiripan sebesar <b class="kata-benar">{{
                    item[2] }}%</b>
            </p> -->
            <!-- Kalau tidak menampilkan kata-kata luluh yang sudah benar -->
            <p>{{ loop.index }}. Ejaan kata <b class="kata-salah">{{ item[0] }}</b> salah. Solusi untuk ejaan kata <b
                    class="kata-salah">{{ item[0] }}</b> adalah kata <b class="kata-benar">{{ item[1] }}</b> dengan
                persentase kemiripan sebesar <b class="kata-benar">{{ item[2] }}%</b>
            </p>
            {% endfor %}
            {% endif %}

            {% if hasil_kata_salah[1] is not none and hasil_kata_salah != -1 %}
            {% for item in hasil_kata_salah[1] %}
            <!-- <p>{{ loop.index + hasil_kata_benar|length + hasil_kata_salah[0]|length }}. Ejaan kata <b
                    class="kata-salah">{{ item[0] }}</b> salah dan solusi untuk ejaan kata <b class="kata-salah">{{
                    item[0] }}</b> tidak ditemukan.</p> -->
            <!-- Namun, solusi terdekat untuk kata <b>{{ item[0] }}</b> adalah kata <b>{{ item[1] }}</b>
                dengan persentase kemiripan sebesar <b>{{ item[2] }}%</b> -->

            <!-- Kalau tidak menampilkan kata-kata luluh yang sudah benar -->
            <p>{{ loop.index + hasil_kata_salah[0]|length }}. Ejaan kata <b class="kata-salah">{{ item[0] }}</b> salah
                dan
                solusi untuk ejaan kata <b class="kata-salah">{{ item[0] }}</b> tidak ditemukan</p>
            {% endfor %}
            {% endif %}
            {% if hasil_kata_salah == -1 %}
            <p>Tidak ditemukan kesalahan ejaan kata luluh</p>
            {% endif %}
            <a href="/" class="btn btnPeriksaLagi">Periksa Teks Lainnya?</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>